<header class="site-header" role="banner" style="opacity: 0">

    <!--<object id="header_svg" data="/assets/test.svg" type="image/svg+xml"></object>-->

    <svg
            xmlns:dc="http://purl.org/dc/elements/1.1/"
            xmlns:cc="http://creativecommons.org/ns#"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
            xmlns:svg="http://www.w3.org/2000/svg"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1"
            style="display: block; position: relative"
            width="1000"
            height="250"
            viewBox="0 0 1000 250"
            id="header_svg">
        <defs
                id="defs4186">
            <clipPath
                    clipPathUnits="userSpaceOnUse"
                    id="header_clippath">
                <rect
                        style="fill:none;"
                        id="header_clippath_retangle"
                        width="1000"
                        height="250"
                        x="0"
                        y="0" />
            </clipPath>
        </defs>
        <metadata
                id="metadata4189">
            <rdf:RDF>
                <cc:Work
                        rdf:about="">
                    <dc:format>image/svg+xml</dc:format>
                    <dc:type
                            rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                    <dc:title></dc:title>
                </cc:Work>
            </rdf:RDF>
        </metadata>
        <g
                id="layer1" />
        <image
                xlink:href="/assets/6925296-forest-glade_lowres1.jpg"
                style="display:none;"
                clip-path="url(#header_clippath)"
                width="1000"
                height="700"
                preserveAspectRatio="none"
                id="header_image"
                x="0"
                y="-450" />
        <path
                id="header_opaque"
                d="M 0,0 0,250 1000,250 1000,0 0,0 Z m 185.28711,45.685547 a 75,75 0 0 1 77.18945,74.968753 75,75 0 0 1 -150,0 75,75 0 0 1 72.81055,-74.968753 z"
                mask="none"
                style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.2238806" />
        <text
     xml:space="preserve"
     style="font-style:normal;font-weight:normal;font-size:40px;line-height:125%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
     x="667.9884"
     y="127.6875"
     id="text4137"><tspan
       id="tspan4139"
       x="498.87695"
       y="127.6875"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Montserrat;-inkscape-font-specification:sans-serif;text-align:center;text-anchor:middle;fill:#000000;stroke:none">G  L  Ä  N  T  A </tspan></text>
        <path
                style="fill:none;fill-rule:evenodd;stroke:#ffffff;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                d="m 308.64379,81 382.71243,0 -1.21497,0"
                id="path4173" />
        <path
                id="path4181"
                d="m 308.64379,145 382.71243,0 -1.21497,0"
                style="fill:none;fill-rule:evenodd;stroke:#ffffff;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    </svg>



    <!--<svg-->
            <!--id="header_svg"-->
            <!--viewBox="0 0 1000 250"-->
            <!--height="250"-->
            <!--width="1000"-->
            <!--style="display: block; position: relative">-->
        <!--<defs-->
                <!--id="defs4186">-->
            <!--<clipPath-->
                    <!--id="header_clippath"-->
                    <!--clipPathUnits="userSpaceOnUse">-->
                <!--<rect-->
                        <!--y="0"-->
                        <!--x="0"-->
                        <!--height="250"-->
                        <!--width="1000"-->
                        <!--id="header_clippath_retangle"-->
                        <!--style="fill:none;"/>-->
            <!--</clipPath>-->
        <!--</defs>-->
        <!--<metadata-->
                <!--id="metadata4189">-->
            <!--<rdf:RDF>-->
                <!--<cc:Work-->
                        <!--rdf:about="">-->
                    <!--<dc:format>image/svg+xml</dc:format>-->
                    <!--<dc:type-->
                            <!--rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>-->
                    <!--<dc:title></dc:title>-->
                <!--</cc:Work>-->
            <!--</rdf:RDF>-->
        <!--</metadata>-->
        <!--<g-->
                <!--id="layer1"/>-->
        <!--<image-->
                <!--style="display: none"-->
                <!--clip-path="url(#header_clippath)"-->
                <!--width="1058.5175"-->
                <!--height="661.57343"-->
                <!--preserveAspectRatio="none"-->
                <!--xlink:href="/assets/6925296-forest-glade_croped.jpg"-->
                <!--id="header_image"-->
                <!--x="0"-->
                <!--y="-400"/>-->
        <!--<text-->
             <!--id="text4137"-->
             <!--y="140.65358"-->
             <!--x="330.46918"-->
             <!--style="font-style:normal;font-weight:normal;font-size:40px;line-height:125%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"-->
             <!--xml:space="preserve">-->
            <!--<tspan-->
               <!--style="font-weight:bold"-->
                <!--y="140.65358"-->
                <!--x="330.46918"-->
               <!--id="tspan4139">G  L  A  E  N  T  A-->
            <!--</tspan>-->
        <!--</text>-->
    <!--</svg>-->
    <div id="header_text_overlay" style="position: absolute; top:0; left:0">
    </div>


    <!--<div class="wrapper">-->

    <!--{% assign custom_url = site.url | append: site.baseurl %}-->
    <!--{% assign full_base_url = site.github.url | default: custom_url %}-->
    <!--<a class="site-title" href="{{ full_base_url }}/">{{ site.title | escape }}</a>-->

    <!--<nav class="site-nav">-->
    <!--<a href="#" class="menu-icon">-->
    <!--<svg viewBox="0 0 18 15" width="18px" height="15px">-->
    <!--<path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>-->
    <!--<path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>-->
    <!--<path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>-->
    <!--</svg>-->
    <!--</a>-->

    <!--<div class="trigger">-->
    <!--{% for my_page in site.pages %}-->
    <!--{% if my_page.title %}-->
    <!--<a class="page-link" href="{{ my_page.url | prepend: full_base_url }}">{{ my_page.title | escape }}</a>-->
    <!--{% endif %}-->
    <!--{% endfor %}-->
    <!--</div>-->
    <!--</nav>-->

    <!--</div>-->

</header>
